img {
 display: block;
  margin: center;
  width: 50%;
 width="104" height="142"
  border-radius: 8px;
   opacity: 0.4;
}
body {
  background-color: lightblue;
}
p {
	color: 	yellow;
}
serif {
  font-family: "Times New Roman", Times, serif;
}